{% extends 'base.html' %}

{% block title %}Edit Invoice{% endblock %}

{% block content %}
<div class="flex justify-center items-center h-screen bg-gray-900 text-gray-400">
    <div class="p-8 rounded-lg shadow-lg w-full max-w-3xl bg-gray-800 text-white">
        <div class="flex justify-between items-center mb-6">
            <h2 class="text-3xl font-bold text-gray-200">Edit Invoice</h2>
            <a href="{% url 'invoice_list' %}" class="bg-green-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-md transition-colors duration-300 shadow-md">Invoice List</a>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="grid grid-cols-1 gap-4 mb-4">
                <label for="id_customer" class="text-white font-medium">Customer:</label>
                {{ form.customer }}
            </div>
            <div class="grid grid-cols-1 gap-4 mb-4">
                <label for="id_date" class="text-white font-medium">Date:</label>
                <input type="text" id="datepicker" name="date" class="form-input block w-full px-3 py-2 rounded-lg border border-gray-700 focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50 bg-gray-700 text-white" required>
            </div>
            <div class="grid grid-cols-1 gap-4 mb-4">
                <label for="id_amount" class="text-white font-medium">Amount:</label>
                {{ form.amount }}
            </div>
            <div class="grid grid-cols-1 gap-4 mb-4">
                <label for="id_status" class="text-white font-medium">Status:</label>
                {{ form.status }}
            </div>
            <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-md transition-colors duration-300 shadow-md">Save Changes</button>
        </form>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<script>
    $(document).ready(function() {
        // Datepicker initialization
        $("#datepicker").datepicker({
            dateFormat: 'yy-mm-dd'  // Set the desired date format
        });
    });
</script>
{% endblock %}
